# Core dependencies
python-telegram-bot==22.6
litellm==1.82.0
chromadb==1.5.2
google-generativeai==0.8.6
nest-asyncio==1.6.0
python-dotenv==1.2.2

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
slack_bolt==1.18.1
